# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/fecsum
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/redupe
/reundupe
/stamp-h1
/test/calc_syndromes
/test/correct_errata
/test/correct_msg
/test/encode_msg
/test/find_errata_locator
/test/find_error_evaluator
/test/find_error_locator
/test/find_errors
/test/generator_poly
/test/gf_div
/test/gf_inv
/test/gf_mul
/test/gf_poly_add
/test/gf_poly_div
/test/gf_poly_eval
/test/gf_poly_mul
/test/gf_poly_scale
/test/gf_pow
/test/gf_sub
